.brand__hero {
    padding-top: 170px;
    background: url('./images/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.brand__hero-title.title {
    margin-bottom: 5px;
}

.brand__hero-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 30px;
}

.brand__hero-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.brand__hero-container {
    position: relative;
}

.brand__hero-advantages {
    position: absolute;
    z-index: 2;
    right: 110px;
    top: 45px;
}

.brand__hero-advantage {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.brand__hero-advantage:first-child {
    position: relative;
    left: -65px;
}

.brand__hero-advantage:last-child {
    margin-bottom: 0;
}

.brand__hero-advantage-title {
    color: #EB5F12;
    font-weight: 700;
    margin-right: 10px;
    font-size: 36px;
}

.brand__hero-advantage-description {
    font-size: 12px;
    font-weight: 700;
}

.brand__consultation.consultation {
    margin-top: 0;
}

.brand__seo.container {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1169px) {
    .brand__hero {
        padding-top: 120px;
    }
}

@media screen and (max-width: 989px) {
    .brand__hero-price {
        font-size: 36px;
    }
    .brand__hero-advantages {
        position: static;
        margin-bottom: 30px;
    }
    .brand__hero-advantage:first-child {
        position: static;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .brand__seo.container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 479px) {
    .brand__hero-price {
        font-size: 28px;
    }
}