.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.pagination__item {
    list-style: none;
}

.pagination__link {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    transition: 200ms ease all;
    font-size: 16px;
    font-weight: 700;
    margin: 0 2px;
    color: #999999;
}

.pagination__item--active .pagination__link {
    background: #EB5F12;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
}

.pagination__item--active:hover .pagination__link {
    background: #EB5F12;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
}

.pagination__link:hover {
    background: #FFFFFF;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.12);
    color: #000000;
}

@media screen and (max-width: 479px) {
    .pagination__link {
        font-size: 14px;
    }
    .pagination__link {
        width: 36px;
        width: 40px;
    }
}