.chip-info__title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 30px;
    color: #1a1a1a;
}

.chip-info__title span {
    color: #EB5F12;
    font-weight: 700;
}

.chip-info__subtitle {
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    line-height: 22px;
    font-weight: 700;
    color: #1a1a1a;
}

.chip-info__description {
    line-height: 22px;
    padding-bottom: 65px;
}

.chip-info__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding-bottom: 40px;
}

.chip-info__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 8%);
    padding: 47px 30px 30px;
    position: relative;
}

.chip-info__item-title {
    font-weight: 700;
    line-height: 22px;
}

.chip-info__item-num {
    width: 44px;
    height: 57px;
    background: #EB5F12;
    box-shadow: 0px 10px 30px rgb(235 95 18 / 30%);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30px;
    top: -27px;
    z-index: 2;
}

@media screen and (max-width: 1169px) {
    .chip-info__items {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
    }
}

@media screen and (max-width: 767px) {
    .chip-info__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .chip-info__title {
        font-size: 28px;
    }
}