.swiper-slider {
    position: relative;
}

.swiper-slider__button {
    border: 1px solid #EB5F12;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease all;
    outline: none;
    position: absolute;
    top: calc(50% - 21px);
    z-index: 2;
}

.swiper-slider__button-icon path {
    transition: 200ms ease all;
}

.swiper-slider__button:hover {
    background: #EB5F12;
}

.swiper-slider__button:hover .swiper-slider__button-icon path {
    stroke: #ffffff;
}

.swiper-slider__button--prev {
    left: -60px;
}

.swiper-slider__button--next {
    right: -60px;
}

.swiper-slider__image-holder {
    height: 250px;
    position: relative;
    display: block;
}

.swiper-slide__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(238, 107, 22, 0.7);
    opacity: 0;
    transition: 200ms ease all;
}

.swiper-slider__image-holder:hover .swiper-slide__background {
    opacity: 1;
}

.swiper-slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1365px) {
    .publications__slider {
        padding: 0 50px;
    }
    .swiper-slider__button {
        width: 35px;
        height: 35px;
    }
    .swiper-slider__button--prev {
        left: 0;
    }
    .swiper-slider__button--next {
        right: 0;
    }
}