.error-page__container.container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.error-page__description {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 22px;
}