.title {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.title--md {
    font-size: 38px;
}

@media screen and (max-width: 989px) {
    .title {
        font-size: 36px;
    }
    .title--md {
        font-size: 32px;
    }
}

@media screen and (max-width: 479px) {
    .title {
        font-size: 28px;
    }
    .title--md {
        font-size: 28px;
    }
}